<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<!--link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
	<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

<title>Jogos Mega</title>
</head>
<body>
	<div class="container-fluid">
		<br>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Menu </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/jogos/novo}">Lançar jogo feito</a> 
							<a class="dropdown-item" th:href="@{/jogos}">Jogo feito</a> 
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/atualizar}">Atualizar Jogos</a>
							<a class="dropdown-item" th:href="@{/download}">Download Jogos</a>
						</div></li>
				</ul>
				<!--form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form-->
			</div>
		</nav>
				<div class="col py-3 px-lg-5 border bg-light">
					<table id="tabela" class="table table-striped table-bordered" style="width:100%">
						<thead >
							<tr>
								<th class="text-center">Sorteio</th>
								<th class="text-center">Data Sorteio</th>
								<th class="text-center">Dez.</th>
								<th class="text-center">Dez.</th>
								<th class="text-center">Dez.</th>
								<th class="text-center">Dez.</th>
								<th class="text-center">Dez.</th>
								<th class="text-center">Dez.</th>
								<th class="text-center">Qtd par</th>
								<th class="text-center">Qtd Impar</th>
								<th class="text-center">Acum</th>
								<th class="text-center">Ganhador Quina</th>
								<th class="text-center">Valor Quina</th>
								<th class="text-center">Ganhador Sena</th>
								<th class="text-center">Valor Sena</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="sorteio : ${sorteios}">
								<td th:text="${sorteio.concurso}"></td>
								<td th:text="${{sorteio.dataDoSorteio}}"></td>
								<td th:text="${sorteio.dezena1}"></td>
								<td th:text="${sorteio.dezena2}"></td>
								<td th:text="${sorteio.dezena3}"></td>
								<td th:text="${sorteio.dezena4}"></td>
								<td th:text="${sorteio.dezena5}"></td>
								<td th:text="${sorteio.dezena6}"></td>
								<td th:text="${sorteio.numerosPar}"></td>
								<td th:text="${sorteio.numerosImpar}"></td>
								<td th:text="${sorteio.eAcumulado}"></td>
								<td th:text="${sorteio.ganhadoresQuina}"></td>
								<td th:text="${sorteio.rateioQuina}"></td>
								<td th:text="${sorteio.ganhadoresSena}"></td>
								<td th:text="${sorteio.rateioSena}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script-->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<script src="/js/jogos.js"></script>
</body>
</html>