<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<title>Jogos Mega</title>
</head>
<body>
	<div class="container-fluid">
		<br>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Menu </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/jogos/novo}">Lançar jogo feito</a>
							<a class="dropdown-item" th:href="@{/jogos}">Jogos feitos</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/atualizar}">Atualizar Jogos</a>
							<a class="dropdown-item" th:href="@{/download}">Download Jogos</a>
						</div></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Buscar sorteio" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
		</nav>
				<div class="col py-3 px-lg-5 border bg-light">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th class="text-center">Sorteio</th>
								<th class="text-center">Data jogo</th>
								<th class="text-center">Dezena</th>
								<th class="text-center">Dezena</th>
								<th class="text-center">Dezena</th>
								<th class="text-center">Dezena</th>
								<th class="text-center">Dezena</th>
								<th class="text-center">Dezena</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="jogo : ${jogos}">
								<td th:text="${jogo.concurso}"></td>
								<td th:text="${{jogo.dataDoSorteio}}"></td>
								<td th:text="${jogo.dezena1}"></td>
								<td th:text="${jogo.dezena2}"></td>
								<td th:text="${jogo.dezena3}"></td>
								<td th:text="${jogo.dezena4}"></td>
								<td th:text="${jogo.dezena5}"></td>
								<td th:text="${jogo.dezena6}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>