<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<title>Lançar jogos!</title>
</head>
<body>
	<div class="container-fluid">
	<br>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home<span class="sr-only">(current)</span></a></li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Menu </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/jogos/novo}">Lançar jogo
								feito</a> <a class="dropdown-item" th:href="@{/atualizar}">Atualizar
								Jogos</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Download Jogos</a>
						</div></li>
				</ul>
				<!--form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form-->
			</div>
		</nav>
			<div class="col-md-12">
				<form method="post" th:action="@{/jogos}" th:object="${jogo}">
					<div class="alert alert-success"
						th:if="${!#strings.isEmpty(mensagem)}">
						<span th:text="${mensagem}">Jogo salvo com sucesso!!!</span>
					</div>
					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="dataDoSorteio">Data sorteio</label> <input
								type="text" class="form-control" id="dataDoSorteio"
								placeholder="Data sorteio xx/xx/xxxx"
								th:field="*{dataDoSorteio}" data-provide="datepicker"
								data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
								data-date-autoclose="true" data-date-today-highlight="true"
								data-date-orientation="bottom"
								th:classappend="${#fields.hasErrors('dataDoSorteio')} ? is-invalid">
						</div>
						<div class="form-group col-md-6">
							<label for="concurso">Concurso</label> <input type="text"
								class="form-control" id="concurso" placeholder="Concurso"
								th:field="*{concurso}"
								th:classappend="${#fields.hasErrors('concurso')} ? is-invalid">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="dezena1">Dezena-1</label> <input type="text"
								class="form-control" id="dezena1" placeholder="Dezena 1"
								th:field="*{dezena1}"
								th:classappend="${#fields.hasErrors('dezena1')} ? is-invalid">
						</div>
						<div class="form-group col-md-6">
							<label for="dezena2">Dezena-2</label> <input type="text"
								class="form-control" id="dezena2" placeholder="Dezena 2"
								th:field="*{dezena2}"
								th:classappend="${#fields.hasErrors('dezena2')} ? is-invalid">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="dezena3">Dezena-3</label> <input type="text"
								class="form-control" id="dezena3" placeholder="Dezena 3"
								th:field="*{dezena3}"
								th:classappend="${#fields.hasErrors('dezena3')} ? is-invalid">
						</div>
						<div class="form-group col-md-6">
							<label for="dezena4">Dezena-4</label> <input type="text"
								class="form-control" id="dezena4" placeholder="Dezena 4"
								th:field="*{dezena4}"
								th:classappend="${#fields.hasErrors('dezena4')} ? is-invalid">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="dezena5">Dezena-5</label> <input type="text"
								class="form-control" id="dezena5" placeholder="Dezena 5"
								th:field="*{dezena5}"
								th:classappend="${#fields.hasErrors('dezena5')} ? is-invalid">
						</div>
						<div class="form-group col-md-6">
							<label for="dezena6">Dezena-6</label> <input type="text"
								class="form-control" id="dezena6" placeholder="Dezena 6"
								th:field="*{dezena6}"
								th:classappend="${#fields.hasErrors('dezena6')} ? is-invalid">
						</div>
					</div>

					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
		</div>
	<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
</body>

</html>